PORT=3001

# Configuración SMTP para enviar correos del newsletter
# SMTP_HOST=mail.tudominio.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=newsletter@tudominio.com
# SMTP_PASS=tucontrasena
# MAIL_FROM=WG <newsletter@tudominio.com>